!!!
%html
  %head
    %meta{charset: 'utf-8' }
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{content: '', name: 'description' }
    %meta{content: '', name: 'author' }


    %script{ type: 'text/javascript', src: 'assets/js/jquery.js' }
    %script{ type: 'text/javascript', src: 'assets/js/priority-queue.js' }
    %script{ type: 'text/javascript', src: 'assets/js/walkable.js' }
    %script{ type: 'text/javascript', src: 'assets/js/core.js' }
    %script{ type: 'text/javascript', src: 'assets/js/hex_lib.js' }
    %script{ type: 'text/javascript', src: 'assets/js/select.js' }
    %link{ type: 'text/css', href: 'global.css', rel: 'stylesheet' }

  %body
    #main
      %img{ src: 'assets/pics/20_a_river.jpg' }
      %img#walk_base.walk{ src: 'assets/pics/select.svg' }

    #info
