#info{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: antiquewhite;
}

.walk{
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 1;
    display: none
}
